<nav class="navbar navbar-expand-md navbar-dark bg-secondary mb-4">
      <a class="navbar-brand" href="/">Yemek Tarifleri Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/about">Hakkımızda <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/articles">Tarifler <span class="sr-only">(current)</span></a>
          </li>
        </ul>

         <ul class="navbar-nav ml-auto">

         {% if session["logged_in"] == True %}
           <li class="nav-item active">
            <a class="nav-link" href="/dashboard">Kontrol Paneli <span class="sr-only">(current)</span></a>
          </li>
           <li class="nav-item active">
            <a class="nav-link" href="/logout">Çıkış Yap <span class="sr-only">(current)</span></a>
          </li>

         {% else %}
           <li class="nav-item active">
            <a class="nav-link" href="/login">Giriş Yap <span class="sr-only">(current)</span></a>
          </li>
         {% endif %}
  

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/register">Kayıt olun <span class="sr-only">(current)</span></a>
          </li>

        </ul>
      </div>
    </nav>